@model UniversitySystem.ViewModels.AssignCourseToTeacherViewModel
@{
    ViewBag.Title = "AssignCourseToTeacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Assign Course To Teacher</h2>

<form id="courseAssignToTeacherForm" class="courseAssign-form-needs-validation" novalidate="" method="post">
    <div class="form-group">
        <label for="departmentsDropdown">Department</label>
        <select class="form-control" id="departmentsDropdown" name="CourseAssignedDepartment" required></select>
        <div id="courseAssignDeptStatus"></div>
        <div class="invalid-feedback">
            Please select a department.
        </div>
    </div>
    <div class="form-group">
        <label for="teachersDropdown">Teacher</label>
        <select class="form-control" id="teachersDropdown" name="CourseAssignedTeacher" required></select>
        <div id="courseAssignTeacherStatus"></div>
        <div class="invalid-feedback">
            Please select a teacher's name.
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="teachersTotalCredit">Credit to be taken</label>
            <input type="text" class="form-control" id="teachersTotalCredit" name="TeachersTotalCredit" value="" readonly="readonly" />
            <div id="totalCreditStatus"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="remCreditOfTeacher">Remaining Credit</label>
            <input type="text" class="form-control" id="remCreditOfTeacher" name="TeachersRemainingCredit" readonly="readonly" />
            <div id="remCreditOfTeacherStatus"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="coursesDropdown">Course Code</label>
        <select class="form-control" id="coursesDropdown" name="AssignedCourseId" required></select>
        <div id="deptCourseAssignmentStatus"></div>
        <div class="invalid-feedback">
            Please select a course code.
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="nameOfSelectedCourse">Course Name</label>
            <input type="text" class="form-control" id="nameOfSelectedCourse" name="SelectedCourseName" readonly />
            <div id="nameOfSelectedCourseStatus"></div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="creditOfSelectedCourse">Course Credit</label>
            <input type="text" class="form-control" id="creditOfSelectedCourse" name="CourseAssignedCredit" readonly />
            <div id="creditOfSelectedCourseStatus"></div>
        </div>
    </div>
    <button class="btn btn-primary" id="assignCourseToTeacherButton" type="submit">Assign</button>
</form>

@section scripts
{
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/AssignCourseToTeacher.js"></script>

    <script>
        $(document).ready(function() {
            populateDepartmentDropdown();
            populateTeachersAndCoursesDropdown();
        });

        function populateDepartmentDropdown() {
            var departmentDropdown = $("#departmentsDropdown");
            departmentDropdown.empty();
            var dept = @Html.Raw(Json.Encode(Model.Departments));

            $.each(dept,
                function() {
                    departmentDropdown.append($('<option/>',
                        {
                            value: this.Value,
                            html: this.Text
                        }));
                });
        }

        function populateTeachersAndCoursesDropdown() {
            var teacherDropdown = $("#teachersDropdown");
            teacherDropdown.empty();
            teacherDropdown.append($('<option/>',
                {
                    html: "--Select a Teacher--"
                }));

            var coursesDropdown = $("#coursesDropdown");
            coursesDropdown.empty();
            coursesDropdown.append($('<option/>',
                {
                    html: "--Select a Course Code--"
                }));

            $("#departmentsDropdown").change(function() {
                teacherDropdown.find('option:gt(0)').remove();
                coursesDropdown.find('option:gt(0)').remove();

                var selectedDept = $(this).val();

                if (selectedDept > 0) {
                    $.ajax({
                        url: '@Url.Action("GetTeachersByDepartment", "Course")',
                        method: "POST",
                        data: JSON.stringify({ id: selectedDept }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function(teachers) {
                            $.each(teachers,
                                function() {
                                    teacherDropdown.append($('<option/>',
                                        {
                                            value: this.Value,
                                            html: this.Text
                                        }));
                                });
                        }
                    });

                    $.ajax({
                        url: '@Url.Action("GetCoursesByDepartment", "Course")',
                        method: "POST",
                        data: JSON.stringify({ id: selectedDept }),
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function(courses) {
                            $.each(courses,
                                function() {
                                    coursesDropdown.append($('<option/>',
                                        {
                                            value: this.Value,
                                            html: this.Text
                                        }));
                                });
                        }
                    });
                }
            });
        }

        $("#teachersDropdown").change(function() {
            if ($(this).val() > 0) {
                var selectedTeacher = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetTeacherCreditDetails", "Course")',
                    method: "POST",
                    data: JSON.stringify({ id: selectedTeacher }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(creditDetails) {
                        $("#teachersTotalCredit").attr('readonly', false);
                        $("#remCreditOfTeacher").attr('readonly', false);

                        $("#teachersTotalCredit").attr('value', creditDetails[0].TeacherCredits);
                        $("#teachersTotalCredit").attr('readonly', true);
                        $("#remCreditOfTeacher").attr('value', creditDetails[0].RemainingCredits);
                        $("#remCreditOfTeacher").attr('readonly', true);
                    }
                });
            }
        });

        $("#coursesDropdown").change(function() {
            if ($(this).val() > 0) {
                var selectedCourse = $(this).val();

                $.ajax({
                    url: '@Url.Action("GetCourseDetails", "Course")',
                    method: "POST",
                    data: JSON.stringify({ id: selectedCourse }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(courseDetails) {
                        $("#nameOfSelectedCourse").attr('readonly', false);
                        $("#nameOfSelectedCourse").attr('value', courseDetails[0].CourseName);
                        $("#nameOfSelectedCourse").attr('readonly', true);
                        $("#creditOfSelectedCourse").attr('readonly', false);
                        $("#creditOfSelectedCourse").attr('value', courseDetails[0].CourseCredit);
                        $("#creditOfSelectedCourse").attr('readonly', true);
                        console.log(courseDetails[0].TeacherId);
                    }
                });
            }
        });

    </script>
}
